<div class="footer">
 <div class="main">
 <div class="footer_left">
 <div class="foot_link"><a href="{pboot:sitedomain}">网站首页</a>{pboot:nav num=6 parent=0} <a href="[nav:link]">[nav:name]</a>{/pboot:nav}</div>
 <div class="clear"></div>
 <div class="copyright"> {pboot:sitecopyright}&nbsp;&nbsp;ICP备案号：<a href="https://beian.miit.gov.cn/">{pboot:siteicp}</a> </div>
 </div>
 <div class="footer_right" style="width: 225px;height: 115px;
	background: url({pboot:companyweixin}) left center no-repeat;
	float: right;
	overflow: hidden;
	margin-top: 48px;
	padding-left: 135px;
	color: #FFF;
	font-size: 16px;
	line-height: 30px">{pboot:companyname}<br>
 <span>服务热线：{pboot:companyphone}</span><br>
 地址：{pboot:companyaddress}</div>
 </div>
</div>
