<div class="top">
 <div class="main">
 <div class="fl">{{ .Site.Params.welcome | default "欢迎访问海南卓炎科技有限责任公司官网！" }}</div>
 <div class="fr"><a href="{{ "pages/about/" | relURL }}">关于我们</a> | <a href="{{ "contact/" | relURL }}">联系我们</a></div>
 </div>
</div>
<div class="head">
 <div class="main">
 <div class="logo" style="width: 576px;height: 133px;background: url({{ "images/logo.png" | relURL }}) no-repeat;float: left"><a href="{{ .Site.BaseURL }}"></a></div>
 <div class="top_tel"></div>
 </div>
</div>
<div class="menu">
 <ul>
 <li{{ if .IsHome }} class="on"{{ end }}><a href="{{ .Site.BaseURL }}">卓炎科技</a></li>
 <li{{ if eq .Section "pages" }} class="on"{{ end }}><a href="{{ "pages/about/" | relURL }}">关于我们</a></li>
 <li{{ if eq .Section "services" }} class="on"{{ end }}><a href="{{ "services/ai-english/" | relURL }}">鼎英语</a></li>
 <li{{ if eq .Section "services" }} class="on"{{ end }}><a href="{{ "services/smart-phone/" | relURL }}">智慧学习手机</a></li>
 <li{{ if eq .Section "services" }} class="on"{{ end }}><a href="{{ "services/oled-lamp/" | relURL }}">OLED护眼台灯</a></li>
 <li{{ if eq .Section "honors" }} class="on"{{ end }}><a href="{{ "honors/" | relURL }}">荣誉资质</a></li>
 <li{{ if eq .Section "cases" }} class="on"{{ end }}><a href="{{ "cases/" | relURL }}">成功案例</a></li>
 <li{{ if eq .Section "news" }} class="on"{{ end }}><a href="{{ "news/" | relURL }}">新闻动态</a></li>
 </ul>
</div>
